@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.loginform {
    align-items: center;

}

input {
    align-self: center;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;

}

.mb2 {
    align-self: center;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
}

.submitbutton {
    height: 60px;
    width: 160px;
    margin: 10px;
    background-color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

button {
    height: 60px;
    width: 150px;
    margin: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

form {
    align-items: center;
}

ul {
    width: 100%;
}
 li {
    color: white;
    text-align: center;
}

li a {
    display: block;
    padding: 10px;
    color: #dddddd;
    text-decoration: none;
    padding: 14px 16px;
  }