@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.addform {
    display: inline-block;
    width: 400px;
    background-color: lightgray;
    height: 600px;
    margin-top: 100px;
}

.mb2 {
    align-self: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
}

.formdiv {
    display: inline-block;
    width: 400px;
    background-color: lightgray;
    height: 400px;
}

.submitbutton {
    height: 60px;
    width: 160px;
    margin: 10px;
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

form {
    display: inline-block;
    background-color: lightgrey;
}
