@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.loginform {
    display: inline-block;
    width: 400px;
    background-color: white;
    height: 400px;
}

.formtitle {
    font-size: 20px;
    font-family: 'ValorantFont';
    font-weight: bold;
}

input {

    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
}

.changeform {
    background-color: #313131;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.loginbutton {
    font-family: 'Roboto';
    font-weight: bold;
    border-width: 1px;
}

.logoutbutton {
    height: 70px;
    background-color: rgb(255, 60, 60);
}

.deletebutton {
    background-color: rgb(255, 60, 60);
}

.resultsp {
    font-family: 'ValorantFont';
  }

button {
    height: 50px;
    width: 200px;
    margin: 10px;
    font-size: 16px;
    background-color: white;
    font-family: 'Arial, Helvetica, sans-serif';
    border-radius: 10px;
}

form {
    display: inline-block;
}