
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
  font-family: 'ValorantFont';
  src: local('ValorantFont'), url(./fonts/ValorantFont.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.wholeapp {
}

.example {
    text-align: center;
    background-color: white;
    width: 100%;
  }

  .router {
    width: 600px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  h1 {
    margin-top: 20px;
    font-family: 'ValorantFont';
  }
  ul {
    width: 100%;
  }

  .navdiv {
    width: 100%;
  }

  @media (max-width: 800px) {
    ul {
      float: inline-start;
     
    }

    li {
      float: none;
      font-weight: bold;
      font-family: 'Roboto';
      width: 100%;
      background-color: black;
    }
  }

  p {
    font-family: 'Roboto';
    font-weight: bold;
  }

  
.loginform {
  display: inline-block;

}


.mb2 {
  align-self: center;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px;
}

.formdiv {

}

  li {
    float: left;
    font-weight: bold;
    font-family: 'Roboto';
    width: 300px;
    background-color: black;
  }

  li a {
    display: block;
    padding: 10px;
    color: #dddddd;
    text-decoration: none;
    padding: 14px 16px;
  }

  .loginlink {
    listStyle: 'none';
    position: 'absolute';
    right: 100;
  }

  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  